{% extends "layout.html.j2" %}

{% block content %}
<div class="ui very relaxed items blog-list">
    <div class="item">
        <div class="image">
            Dec 27, 2016
        </div>
        <div class="content">
            <a href="{{ url_for('blogs.item', slug='haha') }}" class="header">当 SqlAlchemy 没有了外键</a>
            <p class="description">如何在不使用外键的情况下，继续发挥 SqlAlchemy 的超强动力。</p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            Dec 27, 2016
        </div>
        <div class="content">
            <a href="{{ url_for('blogs.item', slug='haha') }}" class="header">当 SqlAlchemy 没有了外键</a>
            <p class="description">如何在不使用外键的情况下，继续发挥 SqlAlchemy 的超强动力。</p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            Dec 27, 2016
        </div>
        <div class="content">
            <a href="{{ url_for('blogs.item', slug='haha') }}" class="header">当 SqlAlchemy 没有了外键</a>
            <p class="description">如何在不使用外键的情况下，继续发挥 SqlAlchemy 的超强动力。</p>
        </div>
    </div>
</div>
{% endblock %}
