{% extends "layout.html.j2" %}

{% block content %}
<div class="ui very relaxed items blog-list">
    {% for blog in blogs %}
    <div class="item">
        <div class="image">
            {{ blog.created_at.format('MMM D, YYYY') }}
        </div>
        <div class="content">
            <a href="{{ url_for('blogs.item', id=blog.id) }}" class="header">
                {{ blog.title }}
            </a>
            <p class="description">{{ blog.sub_title }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
