<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/semantic/semantic.min.css') }}">
    {% for url in assets.maincss.urls() %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/semantic/semantic.min.js') }}"></script>
    {% for url in assets.mainjs.urls() %}
    <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}
    <title>{{ title }}</title>
</head>
<body id="{{ request.blueprint or request.endpoint }}">
    <div class="ui fixed pointing menu">
        <div class="ui container">
            <a href="/" class="header item{% if request.path == '/' %} active{% endif %}">
                <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo Image">
                Hongbo He
            </a>
            <a href="/blogs" class="item{% if request.path.startswith('/blogs') %} active{% endif %}">Blog</a>
            <a href="/reading" class="item{% if request.path.startswith('/reading') %} active{% endif %}">Reading</a>
            <a href="/wikis" class="item{% if request.path.startswith('/wikis') %} active{% endif %}">Wiki</a>
            <a href="/about-me" class="item right{% if request.path.startswith('/about-me') %} active{% endif %}">About Me</a>
        </div>
    </div>
    <div class="ui main-content container">
        {% block content %}
        {% endblock %}
    </div>
</html>
