{% extends "layout.html.j2" %}

{% block content %}
<div class="ui very relaxed link items reading-list">
    <a class="item book-info" href="{{ url_for('reading.item', isbn='123') }}">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </a>

    <a class="item book-info" href="{{ url_for('reading.item', isbn='123') }}">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </a>

    <a class="item book-info" href="{{ url_for('reading.item', isbn='123') }}">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </a>

    <a class="item book-info" href="{{ url_for('reading.item', isbn='123') }}">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </a>

    <a class="item book-info" href="{{ url_for('reading.item', isbn='123') }}">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
