{% extends "layout.html.j2" %}

{% block content %}

<div class="ui stacked segment items">
    <div class="item book-info">
        <div class="image">
            <img src="https://img3.doubanio.com/lpic/s4645974.jpg" alt="Cover Image">
        </div>
        <div class="content">
            <p class="header">
                魔法坏女巫
            </p>
            <p class="description">西方坏女巫的一生</p>
            <div class="extra">
                <p>ISBN: 9787508673479</p>
                <p>2017-04 / 504 页 / [美] 格雷戈里·马奎尔 (Gregory Maguire)</p>
                <p>Read at: 2017-04</p>
            </div>
        </div>
    </div>
</div>

<div class="ui raised segment">
    <a class="ui blue ribbon label">读书笔记</a>
    <div class="note-content">
        <p>标题是书名，昨天开始看了一部分。里面的核心内容<strong>结构化拖延法</strong>的确挺有意思的。其核心是依赖了这么一个"理论"：</p>
      <blockquote><p>人们总是会对当前该干的事情之外的事情很有热情</p>
      </blockquote>
      <p>基于这个论据，首先可以解决一个问题：很多拖延症人对自己的行为感到非常的羞愧和自卑。其实完全不用羞愧，因为：</p>
      <blockquote><p>你不是也做完了很多件不该干的事情了么</p>
      </blockquote>
      <p>虽然不该干，那也只是当时的重要性不是最高而已，但毕竟还是完成了很多件事情了啊。虽然耽误了最重要的事情，但是很可能你自己过高的估计了它的重要性了。所以，</p>
      <blockquote><p>别自悲，你很棒</p>
      </blockquote>
      <p>这个<strong>结构化拖延法</strong>还有一个意义就是，其实你是可以利用这种看似不好的"理论"：把自己所有要做的事情尽量都列出来，按重要性排序。然后当你不想干一件<strong>挺重要</strong>的事情的时候，你就会吧一些<strong>不重要</strong>的事情先做了来满足自己不去干那件<strong>重要</strong>的事情的愿望。嗯，结果就是<strong>重要</strong>的事情没干好，但是回头一看，你还是完成了很多的事情的。当然，前提得时那些<strong>重要</strong>的事情并不是那么的致命。</p>
    </div>
</div>

{% endblock %}
